# Python Essentials for Machine Learning Operations

### Meet your Course Instructor

* Course on Python for MLOps
* Basics in Python: variables, assignments, loops, logical conditions (if and else)
* Functions
* Classes
* Data exploration and data analysis with Pandas and NumPy
* Building command-line tools
* Putting foundations of Python together into powerful command-line tools
* Python is essential for interacting with APIs and other MLOps related tasks
* Focus on creating command-line tools for automation
* Automating processes currently done manually by engineers or teams
* Automation of checks, processes, steps, pipelines, deployments
* Automating packaging of machine learning models
* End of course outcome: sufficient Python knowledge to build powerful automation
* Goal: confidence in applying Python concepts in day-to-day operations

### Key Terms

* Variable - A named location in memory that stores a value. Variables don’t have an explicit type and can be reassigned.
* Assignment - The = operator sets a variable name to a value.
* f-String - Formatted string literals that allow embedded expressions using f” “ syntax.
* Integer - Positive or negative whole number with no decimal point. Supports math operations.
* Float - Number with a decimal point. Common for measurements and math with fractions.
* Boolean - A True or False value often used for logic.
* None - Represents no value assigned. Commonly seen as a default return value.
* If - Starts a conditional block that executes if the condition is True.
* Else - Adds a block that executes if the prior if condition was False.
* Exception - Errors that disrupt normal program flow. Used to catch and handle errors.
* Try/Except - Catch exceptions in the except block after first trying the code in the try block.

In [1]:
#variable
name = "john"

#reassign variable
name = "jane"

#f-string prints variable
print(f"Hello {name}")

#integer
num=10

#float
dec=10.5

#Boolean
is_true=True

#none
empty=None

# if condition evaluates boolean
if is_true:
    print("condition true")
else:
    print("condition false")

# try block attempts this code
try:
    result = num / 0

#except catches zeroDivisionError
except ZeroDivisionError as e:
    print("cannot divide by 0")

Hello jane
condition true
cannot divide by 0

### Variables and Assignments

* Working with variables and assignments
* Python is not a strongly typed language
* Variables can be assigned without worrying about the values
* Using Jupyter Notebooks throughout the course
* Assignment works with a name, single equals, and a value
* Values can be strings, floats, integers, etc.
* Lack of type-checking can cause problems (e.g., `"10000"` as a string vs. number)
* Single quotes in representation indicate a string
* Variables can be reassigned freely
* Typing the variable name outputs its value
* `print` can be used to check variable values
* `print` with commas gives separated output with spacing
* Without commas, concatenation may remove spacing (e.g., `name + last_name`)
* New variables can be created from existing variables
* Example: `full_name` created using f-strings
* Copying variables stores the value at the moment of assignment
* Reassigning original variable does not change the copied one
* Example: `new_name = name` → later reassign `name` → `new_name` keeps old value
* Comma-separated values in `print` give nice spacing
* Concatenation with `+` removes spacing unless explicitly added

In [2]:
# assignning
name = "Alfredo"
last_name = "Deza"

In [3]:
# no need to worry about type of value
height = 10000
distance = 1.3
date = "Tuesday"

In [4]:
# lack of type checking can make things tricky
height = "10000"
height # this prints string, not int

'10000'

In [5]:
# reassigning variables
name = "Bega"
name

'Bega'

In [6]:
# using print() with variables
print(name, last_name)

Bega Deza

In [7]:
#create new variables from existing variables
#watch out with strings
#full name = name + last_name
full_name = f"{name} {last_name}"
full_name

'Bega Deza'

In [8]:
#watch out for copying variables
new_name = name
print(new_name)
name = "alredo" #doesn't affect new_name
print(new_name)
print(name)

Bega
Bega
alredo

In [9]:
#print() function helps display values
#it adds separationw hen using commas
print(name, last_name, "is a person")

alredo Deza is a person

### Working with different Data Types

* Common Python types: **strings, integers, floats, booleans, None**

* **Strings**

  * Strings represent text values
  * Can use **single quotes**, **double quotes**, or **triple quotes**
  * Triple quotes avoid escaping when string contains both single and double quotes
  * Improper use may cause **syntax error** due to imbalance
  * Use single quotes if string contains double quotes
  * Use double quotes if string contains single quotes
  * Strings can be concatenated (`+`) to compose text
  * `f-strings` allow embedding variables inside strings (prefix string with `f`)
  * Result of concatenation or f-string is still a string

* **Integers**

  * Checked with `type()` function
  * Support mathematical operations
  * Division by zero raises `ZeroDivisionError`
  * Mixing incompatible types (e.g., integer + string) raises `TypeError`
  * Integer division can result in a **float** (e.g., `3/2 = 1.5`)

* **Floats**

  * Represented by numbers with decimals (e.g., `14.3`, `3.14159`)
  * Results from division of integers can produce floats

* **Booleans**

  * Written as `True` and `False` (capitalized first letter)
  * Some types evaluate as boolean (`bool(1)` → `True`, `bool(0)` → `False`)
  * `bool()` function interprets values as `True` or `False`

* **None**

  * Represents no value / empty value
  * Returned by functions that do not explicitly return anything
  * Can be assigned to variables
  * Used as a signal for "nothing happening" or empty result

#### Strings

In [10]:
#strings can be assigned with single, double and triple quotes
full_name = "Abhi Jith"
print(full_name)
full_name = 'Abhi Jith'
print(full_name)
full_name = """Abhi Jith"""
print(full_name)
summary = """Triple quotes are useful when you're using ' or '' or "" within the string"""
summary

Abhi Jith
Abhi Jith
Abhi Jith

'Triple quotes are useful when you\'re using \' or \'\' or "" within the string'

In [11]:
name = "Abhi"
result = "this string is an addition " + name
result

'this string is an addition Abhi'

In [12]:
#use f-strings
result = f"{name} now will appear in this string"
result

'Abhi now will appear in this string'

#### Integers

In [13]:
# use type() to discover what data type anythign is
type(15)

int

In [14]:
#integers support all mathematical operations
14/7

2.0

In [15]:
#watchout for invalid mathematical operations
7/0

ZeroDivisionError: division by zero

In [ ]:
#can't mix unsupported types
7 + "14"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#types can change depending on operations
result = 3/2
print(result)
type(result)

1.5

float

#### Floats

In [ ]:
type(14.3)

float

In [ ]:
311/99

3.1414141414141414

#### Booleans

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
first_result = bool(1)
second_result = bool(0)
print(first_result, second_result)

True False

#### None

In [16]:
type(None)

NoneType

### Conditionals and Evaluations

* **`if` keyword** allows setting conditions and executing code if the condition evaluates to `True`
* If condition is `False`, nothing executes
* **Truthy and falsy values**:

  * Empty data structures (e.g., lists, dicts) evaluate to `False`
  * Non-empty data structures evaluate to `True`
  * Integer `0` evaluates to `False`, positive integers evaluate to `True`
* **Comparison operators** supported (e.g., `==`, `>`, `<`, `>=`, `<=`)
* **`else` keyword** executes code when `if` condition is not met (acts as “otherwise”)
* **`elif` keyword** allows checking additional conditions after `if` fails
* **Negative conditions** using `not` keyword:

  * Reverses evaluation (`not False → True`, `not True → False`)
  * Useful for cases like `if not name:`
* **Chained conditions** with `elif not ...` to handle multiple negative cases
* **Compound conditions** with `and`:

  * Example: `if has_kids and married:` → both must be `True`
* **Compound conditions with `not`**:

  * Example: `if not likes_books and not is_logged_in:` → evaluates correctly when both are `False`
* Be careful with compounding conditions; they can get hard to read

#### if conditions and evaluations

In [17]:
condition = True
if condition:
    print("condition met")

condition met

In [18]:
condition = False
if condition:
    print("condition met?")

In [19]:
#some data structures are truthy: false when empty, true when contain items
groceries = []
if groceries:
    print("groceries yes")

#So when a list is empty, it will be false. 

invites = ["john", "george"]
if invites:
    print("yes invites")

yes invites

In [20]:
#integers are truthy
properties = 0
if properties:
    print("yes")

parents = 2
if parents:
    print("yes, parents")

yes, parents

In [21]:
#operators are supported
if properties == 0:
    print("no properties")

if parents>1:
    print("yes parents")

no properties
yes parents

#### else conditions

In [22]:
if properties:
    print("we have properties")
else:
    print("we don't have properties")

we don't have properties

#### elif

In [23]:
if properties:
    print("yes properties")
#evaluate if parents are valid
elif parents:
    print("no properties, but yes parents")

no properties, but yes parents

#### negative conditions

In [24]:
name = None

if not name:
    print("didnt get name")

didnt get name

In [25]:
last_name = None

if name:
    print("No name")
elif not last_name:
    print("no last name")

no last name

#### Compounding conditions with and

In [26]:
has_kids = True
married = True
if has_kids and married:
    print("person is married and have kids")

person is married and have kids

In [27]:
likes_books = False
is_logged_in = False

if not likes_books and not is_logged_in:
    print("user doesn't like books and not logged in")

user doesn't like books and not logged in

### Catching and Handling Exceptions

* **Exceptions** in Python are how errors are bubbled up or advertised in programs
* Example: `14 / 0` raises **ZeroDivisionError** with message *division by zero*
* Exceptions often have a descriptive **name** and **message**
* **Raising exceptions manually**:

  * Use `raise` keyword
  * Example: `raise RuntimeError("this is a problem")`
* **Catching exceptions** with `try-except`:

  * `try` block runs code
  * If matching exception occurs, control moves to `except` block
  * Example: `except ZeroDivisionError:` → handle division by zero
* **Caution**: Only catch exceptions you can handle properly
* **Avoid** catching all exceptions (`except Exception:`) as it hides the real cause
* **Multiple exceptions** can be caught:

  * Use tuple in `except (ZeroDivisionError, TypeError):`
  * Catches either type if raised
* **Assigning exceptions to a variable**:

  * Syntax: `except ExceptionType as error:`
  * Variable holds exception instance
  * Can print or log `error` message (e.g., `"division by zero"`)
* Exceptions provide detailed error messages that help debugging
* Proper handling ensures robustness and prevents silent failures

#### Exceptions

In [28]:
14 / 0

ZeroDivisionError: division by zero

In [29]:
#generating exception with own code
raise RuntimeError("this is a problem")

RuntimeError: this is a problem

#### Catching an Exception

In [30]:
try:
    #any operation that causes an error
    result = 14/0
except ZeroDivisionError:
    result = 14/2

print(result)

7.0

In [31]:
#don't catch all exceptions
try:
    result = 1/0
    raise RuntimeError("error")

except Exception:
    result = 14/2

print(result)

7.0

In [32]:
try:
    result = 14/2
    result + "100" 
except ZeroDivisionError:
    result = 14/2

print(result)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [33]:
#the correct way to execute the above block is by catching multiple errors
try:
    result = 14/2
    result + "100"

except (ZeroDivisionError, TypeError):
    result = 14/2

print(result)

7.0

In [34]:
try:
    result = 14/0
except ZeroDivisionError as error:
    print(f"got an error --> {error}")
    result = 14/2
print(result)

got an error --> division by zero
7.0

## Exercises

1. Create a script that adds two numeric user inputs and prints output
2. Use f-strings and input variables to print customized greeting
3. Catch ZeroDivisionError to print user-friendly error message
4. Cause and handle a TypeError by concatenating the wrong data types
5. Write exception handling that differentiates multiple errors

In [37]:
#1
num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd number:"))
print(f"The sum is {num1 + num2}")

The sum is 3

In [ ]:
#2
name = input("Enter name:")
greeting = f"Welcome {name}, to the thunderdome!"
print(greeting)

Welcome Abhi, to the thunderdome!

In [ ]:
#3
try:
    div = 14/0
except ZeroDivisionError as error:
    print(f"There's an error: {error}")

There's an error: division by zero

In [42]:
#4
try:
    num = 10
    num + "100"
except TypeError as error:
    print(f"error: {error}")

error: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
#5
try:
    div = 14/2
    result = 14/2
    result + "100"
except (ZeroDivisionError, TypeError) as error:
    if isinstance(error, ZeroDivisionError):
        print(f"error: {error}")
        div = 14/2
    elif isinstance(error, TypeError):
        print(f"error: {error}")
        result = 14/2
print(div)
print(result)

error: unsupported operand type(s) for +: 'float' and 'str'
7.0
7.0

### Key Terms

*    List - An ordered collection of values enclosed in square brackets []. Useful for storing sequences of items.

*    Index - The numeric position of an item in a list. Starts at 0 for first item. Used to access items by position.

*    Iteration - Repeated execution of code on successive list items. Done in Python with a for-in loop.

*    Dictionary - Unordered collection of key-value pairs denoted with curly braces {}. Keys map to associated values.

*    Key - Unique identifier that is used to look up values in a dictionary. Looks up are very fast.

*    Value - Data associated with a given key in a dictionary. Values can be any Python data type.

*    Tuple - Fixed-size, immutable ordered collection similar to a list. Denoted with (). Useful when data shouldn't change.

*    Set - Unordered collection of unique objects. Helpful for removing duplicates and set operations.

*    Membership - Ability to check if a value is contained in a collection like lists, dictionaries, tuples, or sets.

*    Methods - Built-in functions that allow manipulating and interacting with data structures.

*    Iteration - The process of repeatedly executing code on each item in a collection one by one.

In [68]:
# list
nums = [1,2,3,4] #ordered collection in square brackets
print(nums[0]) #access first item using index 0

for n in nums: #iterate over list
    print(n)

for i, n in enumerate(nums): #another way to do it
    print(f"num[{i}] is {n}")

#dictionary
airports = {"SFO":"San Fransisco", "LAX":"Los Angeles"} #key-value pairs
print(airports["SFO"])

for code in airports:
    print(airports[code])

#tuple
colors = ("red", "green", "blue") #immutable ordered collection
print(colors[2])

#set
unique_codes = {"SFO", "LAX", "SFO", "ORD", "SFO", "ORD"}
print(unique_codes)
print(len(unique_codes))
unique_codes.pop()
print(unique_codes)

#membership check with in
print("SFO" in airports)

#method to add items
unique_codes.add("SFO")
print(unique_codes)

1
1
2
3
4
num[0] is 1
num[1] is 2
num[2] is 3
num[3] is 4
San Fransisco
San Fransisco
Los Angeles
blue
{'SFO', 'ORD', 'LAX'}
3
{'ORD', 'LAX'}
True
{'SFO', 'ORD', 'LAX'}

### Lists

* **Lists** are one of the most common data structures in Python
* Defined with **square brackets** `[]` or with the **`list()` constructor**
* Lists are **containers of items**; can hold **any type** (integers, strings, booleans, floats, etc.)
* Lists **preserve order** of items
* **Length of a list** can be checked with `len()`
* Lists can be assigned to variables (e.g., `items = ["carrots", "peas", "celery"]`)
* **Indexing**:

  * Starts at **0** (`items[0]` → first item)
  * `items[1]` → second item
  * **Negative indices** access items from the end (`items[-1]` → last item, `items[-2]` → second-to-last)
* **Iteration over lists**:

  * Use `for element in list:` loop
  * Each iteration assigns the next item in the list to the loop variable
  * Preserves order of items
  * Example:

    ```python
    colors = ["red", "blue", "brown"]
    for color in colors:
        print(color)
    ```
* Prefer **meaningful variable names** for clarity (`colors` list → `color` item)
* **List comprehensions**:

  * Compact way to build lists dynamically inside square brackets
  * Syntax: `[expression for item in iterable if condition]`
  * Example: `[n for n in numbers if n < 6]`
  * Conditions can be changed (e.g., `if n > 6`)
  * Powerful but can reduce readability if overused or too complex
* Key notes:

  * Lists are **flexible** (can store any type)
  * Indexing starts at **0** (common confusion point)
  * List comprehensions should be kept **simple and readable**

In [107]:
for method in dir(list):
    if method.startswith('__'):
        continue
    print(method)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [69]:
#containers of items identified by square brackets
[1,2,3,4]

#can contain different types of items 
[1, "two", False, 12.5]

#use built-in to count items in list
print(len([3,4,"red", "car"]))

4

In [70]:
#each item has position called index
items = [1, 2, 3]

#retrieving specific items
items[0]

1

In [72]:
#retreiving last item - use negative index to count from end
items[-1]

3

In [73]:
#create by defining empty list
items = []
items

[]

In [74]:
items = list()
items

[]

In [76]:
#data can be pre-seeded
colors = ["red", "blue", "brown"]
colors

['red', 'blue', 'brown']

In [78]:
#iterating
for color in colors:
    print(color)

#this is equivalent
for color in ['red', 'blue']:
    print(color)

red
blue
brown
red
blue

In [80]:
#list comprehensions
numbers = [1,2,3,4,5,6]
low_numbers = [n for n in numbers if n <= 4]
low_numbers

[1, 2, 3, 4]

### Dictionaries

* **Dictionaries** in Python are **mappings of items** (key → value)
* Example analogy: **phonebook** (name → phone number)
* Defined with **curly braces `{}`**
* **Keys and values** are separated by a colon (`key: value`)
* Keys must be **unique**; duplicate keys overwrite earlier ones
* Values can be of any type (string, int, bool, list, etc.)
* Keys must be **hashable** (cannot use mutable types like lists as keys) → raises **TypeError: unhashable type**
* Dictionaries work like a **mini in-memory database** due to key uniqueness

**Creating dictionaries**:

* `{ "name": "Alfredo", "last_name": "Deza" }`
* `dict()` function
* `dict([("name", "Alfredo"), ("last_name", "Deza")])` → from list of pairs/tuples
* `dict(first="Alfredo", last_name="Deza")` → using keyword arguments

**Iterating dictionaries**:

* **Keys only**:

  * `for key in dict.keys():`
  * `for key in dict:` (default, same as `.keys()`)
* **Values only**:

  * `for value in dict.values():`
* **Keys and values together**:

  * `for key, value in dict.items():` → requires **unpacking** into two variables
  * `.items()` behaves like a list of key-value pairs

**Examples**:

* Iterating keys → `"name"`, `"last_name"`, `"age"`, `"height"`
* Iterating values → `"Alfredo"`, `"Deza"`, `49`, `1.90`
* Iterating both → `"name Alfredo"`, `"last_name Deza"`, `"age 49"`, `"height 1.90"`

**Key notes**:

* Dictionaries store **unique keys**
* Keys must be **immutable / hashable**
* `.keys()`, `.values()`, `.items()` are the main iteration methods
* Unpacking in `for key, value in dict.items()` allows accessing both at once

In [106]:
for method in dir(dict):
    if method.startswith('__'):
        continue
    print(method)

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [85]:
#map key to value
print({"key":"value"})

#value can be any datatype
print({"key":True})
print({"items":[1,2,'three', False]})

#key has to be unique, can't be duplicates
print({'name':'Alfredo', 'name':'Namo'})

# key can't be list or dict
{[1,2]:"value"}

{'key': 'value'}
{'key': True}
{'items': [1, 2, 'three', False]}
{'name': 'Namo'}

TypeError: unhashable type: 'list'

In [87]:
#with brackets and can have pre-seeded data
contact_information = {}
print(contact_information)
contact_information = dict()
print(contact_information)
contact_information = {'name':'Abhi', 'lname':'jith'}
contact_information

{}
{}

{'name': 'Abhi', 'lname': 'jith'}

In [88]:
#with dict and typle pairs
data = [('num1', [1,2,3,4]), ('num2', [5,6,7,8])]
dict(data)

{'num1': [1, 2, 3, 4], 'num2': [5, 6, 7, 8]}

In [89]:
#with dict() and keyword arguments
dict(first=[1,2,3,4], second=[5,6,7,8])

{'first': [1, 2, 3, 4], 'second': [5, 6, 7, 8]}

In [90]:
#looping
contact_information = {
    'name':'Abhijith', 
    'lname':'Senthilkumar',
    'age':25,
    'height':1.75
}

In [94]:
#retrieving only keys by default
for key in contact_information:
    print(key)

#or explicity
for key in contact_information.keys():
    print(key)

name
lname
age
height
name
lname
age
height

In [95]:
#retrieve only values
for value in contact_information.values():
    print(value)

Abhijith
Senthilkumar
25
1.75

In [ ]:
#retrieve both keys and values
for key, value in contact_information.items(): #this method is called unpacking
    print(f"{key} -> {value}")

name -> Abhijith
lname -> Senthilkumar
age -> 25
height -> 1.75

### Tuples and Sets

* **Tuples**

  * Like a list, but **read-only** (immutable)
  * Defined with **parentheses `()`** → e.g., `ro_items = ("first", "second", "third")`
  * Ordered, supports **indexing** (positive and negative indices)
  * Accessing an invalid index → **IndexError** (*tuple index out of range*)
  * Using `.index()` on a non-existing item → **ValueError**
  * Supports only two methods:

    * `.count()` → count occurrences of an item
    * `.index()` → get index of an item
  * No modification methods (`append`, `pop`, etc. do not exist)
  * Think of tuples as **read-only lists**

* **Sets**

  * Defined with **curly braces `{}`** but unlike dictionaries, **no key-value pairs**
  * Collection of **unique items** (duplicates are automatically removed)
  * Example: adding `"1"`, `"1"`, `"1"`, `"2"` → results in `{"1", "2"}`
  * Supports adding items (e.g., `.add()`)
  * `.pop()` works but does **not take arguments** → removes an arbitrary item (not index-based)
  * Example: `s = {"1", "2"}` → `s.pop()` removes one item (order not guaranteed)
  * After removing all, becomes an **empty set** `set()`
  * Useful for maintaining **unique collections**

* **Key differences**:

  * **Tuple** → ordered, immutable, minimal methods
  * **Set** → unordered, mutable, only unique elements, pop removes arbitrary item

In [100]:
#tuples are read only list
items = (1, 2, 3)
#print("first item in tuple is %s" % items.index(1))
#print(items[-1])
for item in items:
    print(item)

1
2
3

In [102]:
items[3]

IndexError: tuple index out of range

In [103]:
items.index(1)

0

In [105]:
#to find what methods are available in a tuple
for method in dir(tuple()):
    if method.startswith('__'):
        continue
    print(method)

count
index

In [108]:
#tupes are immutable
items.append('a')

AttributeError: 'tuple' object has no attribute 'append'

In [112]:
for method in dir(set):
    if method.startswith('__'):
        continue
    print(method)

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [115]:
#sets are like lists, looks like dictionaries, but allows to keep unique items
unique = set()
#add  items with .add()
unique.add('one')
unique

{'one'}

In [123]:
#sets are truly unique
unique.add('one')
unique.add('one')
unique.add('one')
unique.add('two')
unique

{'one', 'two'}

In [ ]:
#order do not matter with set
print(unique)

{'two', 'one'}

In [122]:
#can pop items like in list, but takes no arguments and expels first index value
print(unique)
unique.pop()
unique

{'two', 'one'}

{'two'}

## Exercises

*    Implement a phone book as a dictionary.

*    Find the most frequent words in a text file using sets.

*    Filter user-submitted comments stored in a list for profanity.

*    Build a histogram from word counts using dictionaries.

*    Convert a deeply nested list to a flat list.

In [125]:
#1
data = [(1, 12345), (2, 23456), (3, 34567), (4, 45678)]
phone_book = dict(data)
phone_book

{1: 12345, 2: 23456, 3: 34567, 4: 45678}

In [129]:
#2
text = 'this is a test this is only a test test test'

words = text.split()
unique_words = set(words)

for w in unique_words:
    print(w, words.count(w))

is 2
a 2
this 2
test 4
only 1

In [130]:
#3
comments = [
    "This is nice!",
    "You are stupid",
    "Great work",
    "What a dumb idea"
]

profanity = ('stupid', 'dumb')

In [131]:
#list comprehension

#syntax - newlist = [*expression* for *item* in *iterable* if *condition* == True]

fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
newlist = [x for x in fruits if 'a' in x]
newlist

['apple', 'banana', 'mango']

In [132]:
newlist = [x for x in fruits if x!='apple']
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [133]:
newlist = [x for x in fruits if 'n' in x]
newlist

['banana', 'mango']

## Exercises

*    Create a dictionary mapping airport codes to locations

*    Practice indexing and slicing on a list of your hobbies

*    Try removing duplicates from a messy list with a set

*    Search for an item in a tuple using a for loop

*    Time membership checks on dict vs list with a large dataset

### Key Terms

*    loop: A keyword used for an indefinite loop that runs forever until it is broken out of using a break statement or another control flow mechanism.

*    if let: A construct allowing assignment and conditional execution based on the result of an expression, such as checking if an optional value contains a specific type (e.g., an integer).

*    shadowing: The practice of redefining a variable with the same name in the same scope to take on new characteristics or values.

*    type annotations: Explicitly specifying the data type for variables, expressions, and other elements within Rust code to ensure proper compilation and execution.

*    option: A wrapper over an optional value that can contain either a concrete value (e.g., integer) or None.

*    sum: An enum used as a wrapper over an option in the context of this lesson; it provides a convenient way to work with options, especially when combined with pattern matching and if let statements.

*    while loop: A control flow mechanism that continues executing while a specific condition is met.

*    for loop: A control flow mechanism used for iterating over sequences (e.g., ranges or vectors) in Rust.

*    continue: A keyword allowing skipping to the next iteration of a loop when certain conditions are met, such as an odd number in this lesson's example.

*    break: A keyword that allows breaking out of loops and other control flow mechanisms once specific criteria have been satisfied (e.g., finding a seven).

*    Append - Adds an item to the end of a list

*    Insert - Inserts an item at a specified index in a list

*    Extend - Appends all items from one list onto another

*    Pop - Removes and returns an item at a specified index

*    Get - Safely gets a dictionary value falling back to a default

In [136]:
#Adding data to list

fruits = []

fruits.append("orange")
fruits.append("apple")
fruits

['orange', 'apple']

In [138]:
#insert method to insert object to a certain index, and index required.
fruits.insert(0, "melon")
fruits

['melon', 'melon', 'orange', 'apple']

In [140]:
#can add two lists together
vegetables = ["cucumber", "carrots"]
fruits+vegetables

['melon', 'melon', 'orange', 'apple', 'cucumber', 'carrots']

In [142]:
#appending list to existing list
shopping_list = fruits+vegetables
#this will create list into a list
shopping_list.append(['sugar', 'salt'])
shopping_list

['melon', 'melon', 'orange', 'apple', 'cucumber', 'carrots', ['sugar', 'salt']]

In [143]:
#this is how to extend without adding as antoher list
shopping_list = fruits+vegetables
shopping_list.extend(['sugar', 'salt'])
shopping_list

['melon', 'melon', 'orange', 'apple', 'cucumber', 'carrots', 'sugar', 'salt']

In [144]:
#Data extraction
colors = ['red', 'yellow', 'green', 'blue']

colors[0]

'red'

In [145]:
#slicing for first three items (or any num)
colors[:3]

['red', 'yellow', 'green']

In [148]:
#slicing for last two items
colors[-2:]

['green', 'blue']

In [150]:
#slicing for range
colors[1:3]

['yellow', 'green']

In [151]:
#popping to retrieve item and removing from list
#but index must exist
colors.pop(2)

'green'

In [152]:
colors

['red', 'yellow', 'blue']

In [153]:
#removing items
colors.remove('blue')
colors

['red', 'yellow']

In [ ]:
#Extracting data from dictionary